# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log
error_log

# Temporary / backup files
*.tmp
*.bak
*.swp
